<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 bg-dark">
          <!-- {{title}} -->
            <app-day-filter></app-day-filter>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 menuwidth p-0">
            <app-menu></app-menu>
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-6 offerwidth">
            <app-offer></app-offer>
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-3">
            <app-match-details></app-match-details>
        </div>
        <div class="col-lg-2">
<app-ticket></app-ticket>
        </div>
    </div>


</div>